html, body { height: 100% }

body {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-header {
  margin-top:10px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

iframe {
  width: 100%;
  border: 0px;
}

.glyphicon-door                   { &:before { content: "\1f6aa"; } }
